<?php /** @var \Example\Instagram\Block\Widget $block */ ?>
<?php
$block->setPhotosCount(9);
$photos = $block->getPhotos();
?>
<?php
$renderPhoto = function ($photo) {
    ?>
    <a href="<?php print $this->escapeHtml($photo->getLink()); ?>"><img src="<?php print $this->escapeHtml($photo->getStandardResolutionUrl()); ?>" alt="" /></a>
    <?php
};
?>

<div class="container-fluid insta-box no-pd">
    <div class="row">
        <div class="col-12 no-pd text-center connect-insta"></div>
        <?php if ($photos): ?>
            <div class="test1">
                <?php foreach ($photos as $key=>$photo) {?>
                    <?php if ($key < 4) {?>
                        <?php $renderPhoto($photo); ?>
                    <?php } ?>
                <?php }?>
            </div>
            <div class="test2">
                <?php foreach ($photos as $key=>$photo) {?>
                    <?php if ($key >= 4 && $key < 5) {?>
                        <?php $renderPhoto($photo); ?>
                    <?php } ?>
                <?php }?>
            </div>
            <div class="test3">
                <?php foreach ($photos as $key=>$photo) {?>
                    <?php if ($key >= 5) {?>
                        <?php $renderPhoto($photo); ?>
                    <?php } ?>
                <?php }?>
            </div>
        <?php else: ?>
            <?php echo __('No image available.'); ?>
        <?php endif; ?>
    </div>
</div>
