<?php /** @var \Example\Instagram\Block\System\Config\Form\AuthorizeButton $block */ ?>
<?php use \Example\Instagram\Helper\Config as ModuleConfig; ?>
<hr/>
<p>
    <?php echo __('Redirect uri option for your Instagram application.'); ?>
</p>
<p style="border: 1px solid; padding: 5px;"><?php echo $block->getApiCallbackUrl(); ?></p>
<button
    id="<?php echo $block->getButtonHtmlId(); ?>"
    title="<?php echo __('Connect your Instagram account'); ?>"
    class="action-default scalable"
    style="float: right; margin-top: 20px;"
>
    <?php echo __('Save and connect your Instagram account'); ?>
</button>
<script type="text/javascript">
    requirejs(['jquery'], function ($) {
        var widgetButton = $('#<?php echo $block->getButtonHtmlId(); ?>'),
            clientIdInput = $('#example_instagram_general_client_id'),
            isEnabledInput = $('#example_instagram_general_is_enabled'),
            clientSecretInput = $('#example_instagram_general_client_secret'),
            action = '<?php echo $block->getApiConnectUrl(); ?>',
            formKey = '<?php echo $block->getFormKey(); ?>',
            submitPostForm = function (path, params, methodParam) {
                var method = methodParam || 'post',
                    form = document.createElement('form'),
                    tempFormId = 'example-instagram-temp-form',
                    oldForm = document.getElementById(tempFormId);

                if (oldForm) {
                    oldForm.remove();
                }

                form.setAttribute('method', method);
                form.setAttribute('action', path);
                form.setAttribute('id', tempFormId);

                for(var key in params) {
                    if(params.hasOwnProperty(key)) {
                        var hiddenField = document.createElement('input');
                        hiddenField.setAttribute('type', 'hidden');
                        hiddenField.setAttribute('name', key);
                        hiddenField.setAttribute('value', params[key]);
                        form.appendChild(hiddenField);
                    }
                }

                document.body.appendChild(form);
                form.submit();
            };

        isEnabledInput.change(function () {
            widgetButton.prop('disabled', this.value == false);
        });

        widgetButton.click(function (event) {
            event.stopPropagation();

            if (isEnabledInput.val() == true) {
                submitPostForm(action, {
                    form_key: formKey,
                    client_id: clientIdInput.val(),
                    is_enabled: isEnabledInput.val(),
                    client_secret: clientSecretInput.val(),
                    store: '<?php echo $block->getSelectedStoreId(); ?>'
                });
            }

            return false;
        });

        widgetButton.prop('disabled', isEnabledInput.val() == false);
    });
</script>